h1 {
    text-align: center;
}

.flexContainer {
    display: flex;
    width: 100%;
}

#bingMap {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin: auto;
}

#infoField {
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin: auto;
}