@font-face {
    font-family: 'octin vintage b rg';
    src: URL('octin vintage b rg.ttf') format('truetype');
}

body {
    background-color: #F5EEDC;
}

h1 {
    text-align: center;
    font-family: octin vintage b rg;
    font-size: 36px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    background-color: #F5EEDC;
    align-items: center;
}

img {
    position: absolute;
    left: 2%;
}

.flexContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#bingMap {
    width: 60%;
    height: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    position: absolute;
    left: 35%;
    top: 15%;
    border-top: solid 1px #5f6368;
    border-right: solid 1px #5f6368;
    border-bottom: solid 1px #5f6368;
}

#infoField {
    width: calc(30% - 30px);
    height: calc(80% - 30px);
    background-color: #FBF3EC;
    border-radius: 5px;
    white-space: pre-line;
    white-space: pre-wrap;
    overflow: scroll;
    padding: 15px;
    position: absolute;
    left: 5%;
    top: 15%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #5f6368;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .25px;
    line-height: 25px;
    text-align: left;
    border: solid 1px #5f6368;
}


/* scrollbar */

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: #FBF3EC;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(163, 176, 144, 0.75);
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgba(163, 176, 144, 0.75);
}


/* scrollbar */