@font-face {
    font-family: 'octin vintage b rg';
    src: URL('octin vintage b rg.ttf') format('truetype');
}

body {
    background-color: #F5EEDC;
}

h1 {
    text-align: center;
    font-family: octin vintage b rg;
    font-size: 36px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    background-color: #F5EEDC;
    align-items: center;
}

img {
    position: absolute;
    left: 2%;
}

.flexContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#bingMap {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    left: 35%;
    top: 17%;
}

#infoField {
    width: calc(30% - 30px);
    height: calc(80% - 30px);
    background-color: lightgrey;
    border-radius: 5px;
    white-space: pre-line;
    white-space: pre-wrap;
    overflow: scroll;
    padding: 15px;
    position: absolute;
    left: 5%;
    top: 17%;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* scrollbar */

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: lightgrey;
}

 ::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}


/* scrollbar */